* {
	margin: 0;
}

body {
	background-color: hsl(230, 100%, 99%);
}

.content {
	background: url("./images/bg-pattern.svg");
	background-repeat: no-repeat;
}

.header {
	height: 265px;
}

.header__title {
	text-align: center;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

.header__title > h2 {
	font-family: Manrope, sans-serif;
	font-weight: 800;
	font-size: 28px;
}

.header__title > h4 {
	font-family: Manrope, sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.header__bgCircleLarge {
	background-color: transparent;
	border: 2px solid hsl(225, 20%, 60%);
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 0 auto;
	opacity: 0.1;
	z-index: 1;
	position: relative;
	top: -20px;
}

.header__bgCircleSmall {
	background-color: transparent;
	border: 2px solid hsl(225, 20%, 60%);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 auto;
	opacity: 0.1;
	z-index: 1;
	position: relative;
	top: -165px;
	right: -45px;
}

.card {
	width: 530px;
	height: 400px;
	background-color: hsl(0, 0%, 100%);
	margin: 0 auto;
	border-radius: 2%;
	box-shadow: 0px 15px 20px 2px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
}

.card__header {
	width: 100%;
	height: 264px;
}

.card__footer {
	border-top: 1px solid hsla(223, 50%, 87%, 0.3);
	width: 100%;
	height: 136px;
}
